/* background: #212121; Заголоки*/
/*  background: #757575; Основний колір тексту*/
/*background: #2196F3; Блакитний колір*/
/* #FFFFFF Білий колір колір заголовка героя */
/* #FFFFFF Основний колір сторінки */

:root {
  --title: #212121;
  --hover-focus-color: #2196f3;
  --backgraund-body: #ffffff;
  --text-page: #757575;
  --hero-text: #ffffff;
  --logo-color: #000000;
  --footer-backgraund: #2f303a;
  --backgraund-section: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-page);
  background-color: var(--backgraund-body);
  font-family: 'Roboto';
  font-size: 14px;
  letter-spacing: 0.03em;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

/* Логотип */
.logo {
  color: var(--logo-color);

  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-web {
  color: var(--hover-focus-color);
}

/* Навігація */
.site-nav {
  color: var(--title);

  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav:hover,
.site-nav:focus {
  color: var(--hover-focus-color);
}

.active-pages {
  color: var(--hover-focus-color);
}

/* Контакти */
.socials {
  color: var(--text-page);

  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.socials:hover,
.socials:focus {
  color: var(--hover-focus-color);
}

/* Герой */
.hero {
  background-color: var(--footer-backgraund);
}

.hero-title {
  color: var(--hero-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--hero-text);
  background-color: var(--hover-focus-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-focus-color);
}

/* Наші переваги и Наша команда*/

.features-section {
  display: none;
}

.features-title {
  color: var(--title);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-title {
  color: var(--title);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-section {
  background-color: var(--backgraund-section);
}

.team-container {
  background-color: var(--backgraund-body);
}

.team {
  font-size: 16px;
  line-height: 1.18;
}

.team-name {
  color: var(--title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

/* Підвал */

.footer {
  background-color: var(--footer-backgraund);
}

.footer-address {
  color: var(--hero-text);
  font-style: normal;
  text-decoration: none;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--hover-focus-color);
}

.footer-socials {
  color: var(--text-page);

  font-style: normal;

  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-socials:hover,
.footer-socials:focus {
  color: var(--hover-focus-color);
}

/* Портфоліо */

/* Фільрт */
.filter-button {
  color: var(--title);
  background-color: var(--backgraund-section);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--hero-text);
  background-color: var(--hover-focus-color);
}

/* Портфоліо */
.portfolio {
  display: none;
}

.portfolio-title {
  color: var(--title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* Лого футер */
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  background-color: var(--footer-backgraund);
  text-decoration: none;
}

.logo-studio {
  color: var(--hero-text);
}
